.home-bg {
    background-image: url('./home.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: -1.8rem;
    color: var(--pico-color-red-800);

    :nth-last-child(2) {
        margin-bottom: 1.8rem;
    }

    a {
        font-size: 1.2rem;
        text-decoration: none;
        color: var(--pico-secondary);
        padding: .6rem .9rem;
        border: 2px solid var(--pico-secondary);
        border-radius: .3rem;
    }

    a:hover {
        color: var(--pico-color-amber-150);
        border: 2px solid var(--pico-color-amber-150);
    }
}
