<article class='home-bg'>
  <div class='content' align='center' >
    <div><strong>Share your</strong></div>
    <div> <strong>Programming</strong></div>
    <div> <strong>Experience</strong></div>
    <div> <strong>On <%= APP_NAME %></strong></div>
    <%= link_to "Sign Up Now", '#' %>
  </div>
</article>
