<div class="container">
  <nav aria-label="breadcrumb" style="--pico-nav-breadcrumb-divider: 'ðŸ§'; margin-top: -1rem;">
    <ul>
      <li><%= link_to 'Categories', categories_path %></li>
      <li><%= @category.name %></li>
    </ul>
  </nav>
  <%= render 'articles/articles', articles: @category_articles %>
  <%= will_paginate @category_articles %>
</div>
